:root {
    --color1: #ffd415;
    --color2: #f0efa5;
    --color3: #b2f0a5;
    --color4: #a5f0f0;
    --color5: #a5aaf0;
    --color6: #dea5f0;
    --color7: #e28cc8;
    --color8: #f0a5af;
    --color9: #d1d1d1;
}
* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #afafaf;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#cartes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Appliquer l'animation sur chaque carte */
.carte {
    animation: fadeInZoom 0.6s ease forwards;
    border-radius: 16px;
    aspect-ratio: 1/1.4;
    border: 2px solid white;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 300px;
    padding: 0px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
    overflow: hidden;
    
    .carte-container {
        background-color: #ffffff38;
        display: flex;
        height:100%;
        flex-direction: column;
        padding: 10px;
        .titre {
            font-size: 1.2em;
            margin: 0;
            margin-bottom: 10px;
            color: #333;
            padding:2px 5px;
            text-align: center;
        }
        .famille {
            margin: 0;
            margin-bottom: 10px;
            color: #333;
            padding:2px 5px;
            text-align: center;
            background-color: #ffffff38;
            font-weight: 600;
        }
        .description {
            margin: 0;
            color: #333;
            text-align: center;
            font-weight: 600;
            /* background-color: #ffffff38; */
        }
        p {
            font-size: 0.95em;
            margin-bottom: 10px;
            color: #000000;
            text-align: center;
            font-size: 110%;
        }
    }
    &:hover {
        transform: scale(2);
    }
}
.famille,.titre,.niveau,.description,.famille {
    border-radius: 9px;
}


.color1 {background-color: var(--color1);}
.color2 {background-color: var(--color2);}
.color3 {background-color: var(--color3);}
.color4 {background-color: var(--color4);}
.color5 {background-color: var(--color5);}
.color6 {background-color: var(--color6);}
.color7 {background-color: var(--color7);}
.color8 {background-color: var(--color8);}
.color9 {background-color: var(--color9);}
.carte .formations {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    .formation-badge {
        border-radius: 12px;
        white-space: nowrap;
        overflow: hidden;
        width: 32px;
        height: 32px;
        background-color: white;
        a {
            color: #333;
            font-size: 0.7em;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}




/* Animation d'apparition des cartes */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


#famille-filters, #formation-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-button {
    /* background-color: #333; */
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 9px;
    cursor: pointer;
    font-size: 0.9em;
    transition: border-radius 0.5s;
}

.filter-button:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.801);
}

.filter-button.active {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.801);
}